@page "{id}"
@model EditModel
@{
    ViewData["Title"] = "Edit Recipe";
}
@section Scripts {
    <script src="dist/validation.bundle.js" defer></script>
}

<h2>@ViewData["Title"]</h2>
<hr />

<form method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_EditRecipePartial" model="Model.Input" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>


